<template>
    <div class="container mx-auto flex flex-col items-center bg-gray-100 p-4">
        <transition name="fade">
            <div
                v-if="!loaded"
                class="fixed w-100 h-100 opacity-80 bg-purple-800 inset-0 z-50 flex items-center justify-center">
                <svg class="animate-spin -ml-1 mr-3 h-12 w-12 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor"
                          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
            </div>
        </transition>
        <add-ticker
            :errorMessage="errorMessage"
            :examples="examples"
            @on-input="onInput"
            @add-ticker="addTicker" />
        <div class="container">
            <template v-if="tickers.length">
                <div class="flex space-x-2" style="justify-content: space-between">
                    <div class="flex space-x-2">
                        <button :disabled="page === 1" @click="page = page - 1" class="flex items-center border cursor-pointer justify-center" style="width: 38px; height: 38px; background-color: rgb(255, 255, 255); border-color: rgb(212, 212, 216); transform-origin: 0% 50% 0px; border-radius: 15.7895% / 15.7895%;">
                            <svg style="width: 10px; " aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-chevron-left fa-w-10 fa-3x"><path fill="currentColor" d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z" class=""></path></svg>
                        </button>
                        <button :disabled="!hasNextPage" @click="page = page + 1" class="flex items-center border cursor-pointer justify-center " style="width: 38px; height: 38px; background-color: rgb(255, 255, 255); border-color: rgb(212, 212, 216); transform-origin: 0% 50% 0px; border-radius: 15.7895% / 15.7895%;">
                            <svg style="width: 10px; " aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-angle-right fa-w-8 fa-3x"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z" class=""></path></svg>
                        </button>
                    </div>
                    <input v-model="filterValue" type="text" class="border" style="border-color: rgb(212, 212, 216); height: 38px; border-radius: 5px;">
                </div>
                <hr class="w-full border-t border-gray-600 my-4"/>
                <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
                    <div
                        v-for="t in paginatedTickers"
                        :key="t.name"
                        :class="{'border-4': sel === t}"
                        @click="select(t)"
                        class="bg-white overflow-hidden shadow rounded-lg border-purple-800 border-solid cursor-pointer"
                    >
                        <div class="px-4 py-5 sm:p-6 text-center">
                            <dt class="text-sm font-medium text-gray-500 truncate">
                                {{ t.name }} - USD
                            </dt>
                            <dd class="mt-1 text-3xl font-semibold text-gray-900">
                                {{ formatPrice(t.value) }}
                            </dd>
                        </div>
                        <div class="w-full border-t border-gray-200"></div>
                        <button
                            @click.stop="removeTicker(t)"
                            class="flex items-center justify-center font-medium w-full bg-gray-100 px-4 py-4 sm:px-6 text-md text-gray-500 hover:text-gray-600 hover:bg-gray-200 hover:opacity-20 transition-all focus:outline-none"
                        >
                            <svg
                                class="h-5 w-5"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20"
                                fill="#718096"
                                aria-hidden="true"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                    clip-rule="evenodd"
                                ></path>
                            </svg>
                            Удалить
                        </button>
                    </div>
                </dl>
                <hr class="w-full border-t border-gray-600 my-4"/>
            </template>
            <section class="relative" v-if="sel">
                <h3 class="text-lg leading-6 font-medium text-gray-900 my-8">
                    {{ sel.name }} - USD
                </h3>
                <div class="flex items-end border-gray-600 border-b border-l h-64" ref="graph">
                    <div
                        v-for="(g, idx) in normalizedGraph"
                        :key="idx"
                        class="bg-purple-800 border w-10 h-24"
                        :style="{height: `${g}%`}"
                    ></div>
                </div>
                <button
                    type="button"
                    class="absolute top-0 right-0"
                    @click="sel = null"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns:svgjs="http://svgjs.com/svgjs"
                        version="1.1"
                        width="30"
                        height="30"
                        x="0"
                        y="0"
                        viewBox="0 0 511.76 511.76"
                        style="enable-background:new 0 0 512 512"
                        xml:space="preserve"
                    >
                      <g>
                        <path
                            d="M436.896,74.869c-99.84-99.819-262.208-99.819-362.048,0c-99.797,99.819-99.797,262.229,0,362.048    c49.92,49.899,115.477,74.837,181.035,74.837s131.093-24.939,181.013-74.837C536.715,337.099,536.715,174.688,436.896,74.869z     M361.461,331.317c8.341,8.341,8.341,21.824,0,30.165c-4.16,4.16-9.621,6.251-15.083,6.251c-5.461,0-10.923-2.091-15.083-6.251    l-75.413-75.435l-75.392,75.413c-4.181,4.16-9.643,6.251-15.083,6.251c-5.461,0-10.923-2.091-15.083-6.251    c-8.341-8.341-8.341-21.845,0-30.165l75.392-75.413l-75.413-75.413c-8.341-8.341-8.341-21.845,0-30.165    c8.32-8.341,21.824-8.341,30.165,0l75.413,75.413l75.413-75.413c8.341-8.341,21.824-8.341,30.165,0    c8.341,8.32,8.341,21.824,0,30.165l-75.413,75.413L361.461,331.317z"
                            fill="#718096"
                            data-original="#000000"
                        ></path>
                      </g>
                    </svg>
                </button>
            </section>
        </div>
    </div>
</template>

<script>

//Задания
// todo 1. Максимальное количество элементов графика. Сейчай ограничения нет.
// todo 2. Вынести График и Добавление тикера в отдельный компонент.
// todo 3. Всегда типизировать пропсы и принимать их в виде объектов.
// todo 4. После добавления тикера не сбрасывается инпут.
// Памятка В Vue 3 использовать emits чтобы прописывать ожидания от создаваемого события.

import { loadCoinsList , subscribeToTicker, unsubscribeFromTicker} from './API.js'
import AddTicker from "@/components/AddTicker";

export default {
    name: 'App',
    components: {
      AddTicker
    },
    created() {
        const {filter, page} = Object.fromEntries(new URL(window.location).searchParams.entries());

        if (filter) {
            this.filterValue = filter;
        }

        if (page) {
            this.page = Number(page);
        }

        this.applyCoinsList();

        const savedTickers = JSON.parse(localStorage.getItem('tickers'));

        if (savedTickers) {
            savedTickers.forEach(ticker => {
                this.tickers.push(ticker);
                subscribeToTicker(ticker.name, (price) => this.updateTicker(ticker.name, price));
            });
        }

        setTimeout(() => {
            this.loaded = true;
        }, 1000)
    },
    data() {
        return {
            ticker: '',
            errorMessage: '',
            loaded: false,
            tickers: [],
            sel: null,
            graph: [],
            coinsList: [],
            examples: [],
            page: 1,
            maxGraphElements: 1,
            filterValue: '',
        }
    },
    watch: {
        filterValue() {
            this.page = 1;
            window.history.pushState(
                null,
                document.title,
                window.location.pathname + '?filter=' + this.filterValue + '&page=' + this.page
            );
        },
        page() {
            window.history.pushState(
                null,
                document.title,
                window.location.pathname + '?filter=' + this.filterValue + '&page=' + this.page
            );
        },
        paginatedTickers() {
            if (this.paginatedTickers.length === 0 && this.page > 1) {
                this.page -= 1;
            }
        }
    },
    mounted() {
        window.addEventListener("resize", this.calculateMaxGraphElements);
    },

    beforeUnmount() {
        window.removeEventListener("resize", this.calculateMaxGraphElements);
    },
    computed: {
        startInterval() {
            return (this.page - 1) * 6;
        },
        endInterval() {
            return this.page * 6
        },
        filteredTickers() {
            return this.tickers
                .filter(item => item.name.includes(this.filterValue.toUpperCase()));
        },
        paginatedTickers () {
            return this.filteredTickers.slice(this.startInterval, this.endInterval);
        },
        hasNextPage() {
            return this.filteredTickers.length > this.endInterval;
        },
        normalizedGraph() {
            const maxValue = Math.max(...this.graph);
            const minValue = Math.min(...this.graph);

            if (maxValue === minValue) {
                return this.graph.map(() => 50);
            }

            return this.graph.map(e => 5 + ((e - minValue) * 95) / (maxValue - minValue));
        }
    },
    methods: {
        calculateMaxGraphElements() {
            if (!this.$refs.graph) {
                return;
            }

            this.maxGraphElements = this.$refs.graph.clientWidth / 38;
        },
        updateTicker(name, price) {
            this.tickers.filter(ticker => ticker.name === name)
            .forEach(ticker => {
                if (ticker === this.sel) {
                    this.graph.push(price);

                    if (this.graph.length > this.maxGraphElements) {
                      this.graph.splice(0, 1);
                    }
                }

                ticker.value = price;
            });
            localStorage.setItem('tickers',  JSON.stringify(this.tickers));
        },
        async applyCoinsList() {
            const coins = await loadCoinsList();

            this.coinsList = Object.keys(coins.Data);
        },
        formatPrice(price) {
            price = Number(price)
            if (!price) {
                return  '-';
            }

            return  price > 1
                ? price.toFixed(2)
                : price.toPrecision(2);
        },
        onInput(ticker) {
            if (ticker) {
                let found = Object.values(this.coinsList).filter((coin) => coin.toUpperCase().indexOf(ticker.toUpperCase()) >= 0);

                found = found
                    .sort((a) => {if (a.indexOf(ticker.toUpperCase()) === 0) {return -1;} else {return 1}})
                    .filter((e,idx) => idx < 4);

                this.examples = found;
            } else {
                this.examples = [];
            }

            this.errorMessage = '';
        },
        addTicker(ticker) {
            if (this.addTickerValidation(ticker)) {
                const currentTicker = {name: ticker.toUpperCase(), value: '-'};
                subscribeToTicker(currentTicker.name, (price) => this.updateTicker(currentTicker.name, price));
                this.tickers.push(currentTicker);
                localStorage.setItem('tickers',  JSON.stringify(this.tickers));

                ticker = '';
                this.examples = [];
            }
        },
        select(t) {
            this.sel = t;
            this.graph = [];
            this.$nextTick().then(this.calculateMaxGraphElements);
        },
        removeTicker(t) {
            if (this.sel === t) {
                this.sel = null
            }
            this.tickers = this.tickers.filter((item) => item !== t);
            unsubscribeFromTicker(t.name);

            localStorage.setItem('tickers',  JSON.stringify(this.tickers));
        },
        addTickerValidation(ticker) {
            if (!ticker.length > 0) {
                this.errorMessage = 'Тикер не может быть пустым';
                return false;
            }

            if (this.tickers.find(t => t.name.toUpperCase() === ticker.toUpperCase())) {
                this.errorMessage = 'Такой тикер уже добавлен';
                return false;
            }

            if (!Object.values(this.coinsList).find(e => e === ticker.toUpperCase())) {
                this.errorMessage = 'Такой монеты не существует';
                return false;
            }

            this.errorMessage = '';
            return true;
        }
    }
}
</script>

<style src="./app.css"></style>
<style src="./animations.css"></style>

